# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
#Your code here
import sqlite3
conn = sqlite3.Connection('data.sqlite')
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [3]:
#Your code here
c.execute("""SELECT firstName, lastName, city, state 
FROM employees 
JOIN offices
USING(officeCode);""").fetchall()

[('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('William', 'Patterson', 'Sydney', ''),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Larry', 'Bott', 'London', ''),
 ('Barry', 'Jones', 'London', ''),
 ('Andy', 'Fixter', 'Sydney', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Tom', 'King', 'Sydney', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', '')]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [4]:
# Your code here
c.execute("""SELECT contactFirstName, contactLastName, orderNumber, orderDate, status
FROM customers 
JOIN orders
USING(customerNumber);""").fetchall()

[('Carine ', 'Schmitt', '10123', '2003-05-20', 'Shipped'),
 ('Carine ', 'Schmitt', '10298', '2004-09-27', 'Shipped'),
 ('Carine ', 'Schmitt', '10345', '2004-11-25', 'Shipped'),
 ('Jean', 'King', '10124', '2003-05-21', 'Shipped'),
 ('Jean', 'King', '10278', '2004-08-06', 'Shipped'),
 ('Jean', 'King', '10346', '2004-11-29', 'Shipped'),
 ('Peter', 'Ferguson', '10120', '2003-04-29', 'Shipped'),
 ('Peter', 'Ferguson', '10125', '2003-05-21', 'Shipped'),
 ('Peter', 'Ferguson', '10223', '2004-02-20', 'Shipped'),
 ('Peter', 'Ferguson', '10342', '2004-11-24', 'Shipped'),
 ('Peter', 'Ferguson', '10347', '2004-11-29', 'Shipped'),
 ('Janine ', 'Labrune', '10275', '2004-07-23', 'Shipped'),
 ('Janine ', 'Labrune', '10315', '2004-10-29', 'Shipped'),
 ('Janine ', 'Labrune', '10375', '2005-02-03', 'Shipped'),
 ('Janine ', 'Labrune', '10425', '2005-05-31', 'In Process'),
 ('Jonas ', 'Bergulfsen', '10103', '2003-01-29', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10158', '2003-10-10', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10309', '2004-10-15', 'Shipped'),
 ('Jonas ', 'Bergulfsen', '10325', '2004-11-05', 'Shipped'),
 ('Susan', 'Nelson', '10113', '2003-03-26', 'Shipped'),
 ('Susan', 'Nelson', '10135', '2003-07-02', 'Shipped'),
 ('Susan', 'Nelson', '10142', '2003-08-08', 'Shipped'),
 ('Susan', 'Nelson', '10182', '2003-11-12', 'Shipped'),
 ('Susan', 'Nelson', '10229', '2004-03-11', 'Shipped'),
 ('Susan', 'Nelson', '10271', '2004-07-20', 'Shipped'),
 ('Susan', 'Nelson', '10282', '2004-08-20', 'Shipped'),
 ('Susan', 'Nelson', '10312', '2004-10-21', 'Shipped'),
 ('Susan', 'Nelson', '10335', '2004-11-19', 'Shipped'),
 ('Susan', 'Nelson', '10357', '2004-12-10', 'Shipped'),
 ('Susan', 'Nelson', '10368', '2005-01-19', 'Shipped'),
 ('Susan', 'Nelson', '10371', '2005-01-23', 'Shipped'),
 ('Susan', 'Nelson', '10382', '2005-02-17', 'Shipped'),
 ('Susan', 'Nelson', '10385', '2005-02-28', 'Shipped'),
 ('Susan', 'Nelson', '10390', '2005-03-04', 'Shipped'),
 ('Susan', 'Nelson', '10396', '2005-03-23', 'Shipped'),
 ('Susan', 'Nelson', '10421', '2005-05-29', 'In Process'),
 ('Roland', 'Keitel', '10101', '2003-01-09', 'Shipped'),
 ('Roland', 'Keitel', '10230', '2004-03-15', 'Shipped'),
 ('Roland', 'Keitel', '10300', '2003-10-04', 'Shipped'),
 ('Roland', 'Keitel', '10323', '2004-11-05', 'Shipped'),
 ('Julie', 'Murphy', '10111', '2003-03-25', 'Shipped'),
 ('Julie', 'Murphy', '10201', '2003-12-01', 'Shipped'),
 ('Julie', 'Murphy', '10333', '2004-11-18', 'Shipped'),
 ('Kwai', 'Lee', '10107', '2003-02-24', 'Shipped'),
 ('Kwai', 'Lee', '10248', '2004-05-07', 'Cancelled'),
 ('Kwai', 'Lee', '10292', '2004-09-08', 'Shipped'),
 ('Kwai', 'Lee', '10329', '2004-11-15', 'Shipped'),
 ('Diego ', 'Freyre', '10104', '2003-01-31', 'Shipped'),
 ('Diego ', 'Freyre', '10128', '2003-06-06', 'Shipped'),
 ('Diego ', 'Freyre', '10133', '2003-06-27', 'Shipped'),
 ('Diego ', 'Freyre', '10153', '2003-09-28', 'Shipped'),
 ('Diego ', 'Freyre', '10156', '2003-10-08', 'Shipped'),
 ('Diego ', 'Freyre', '10190', '2003-11-19', 'Shipped'),
 ('Diego ', 'Freyre', '10203', '2003-12-02', 'Shipped'),
 ('Diego ', 'Freyre', '10205', '2003-12-03', 'Shipped'),
 ('Diego ', 'Freyre', '10212', '2004-01-16', 'Shipped'),
 ('Diego ', 'Freyre', '10244', '2004-04-29', 'Shipped'),
 ('Diego ', 'Freyre', '10246', '2004-05-05', 'Shipped'),
 ('Diego ', 'Freyre', '10262', '2004-06-24', 'Cancelled'),
 ('Diego ', 'Freyre', '10279', '2004-08-09', 'Shipped'),
 ('Diego ', 'Freyre', '10311', '2004-10-16', 'Shipped'),
 ('Diego ', 'Freyre', '10350', '2004-12-02', 'Shipped'),
 ('Diego ', 'Freyre', '10355', '2004-12-07', 'Shipped'),
 ('Diego ', 'Freyre', '10358', '2004-12-10', 'Shipped'),
 ('Diego ', 'Freyre', '10378', '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', '10379', '2005-02-10', 'Shipped'),
 ('Diego ', 'Freyre', '10380', '2005-02-16', 'Shipped'),
 ('Diego ', 'Freyre', '10383', '2005-02-22', 'Shipped'),
 ('Diego ', 'Freyre', '10386', '2005-03-01', 'Resolved'),
 ('Diego ', 'Freyre', '10394', '2005-03-15', 'Shipped'),
 ('Diego ', 'Freyre', '10412', '2005-05-03', 'Shipped'),
 ('Diego ', 'Freyre', '10417', '2005-05-13', 'Disputed'),
 ('Diego ', 'Freyre', '10424', '2005-05-31', 'In Process'),
 ('Christina ', 'Berglund', '10112', '2003-03-24', 'Shipped'),
 ('Christina ', 'Berglund', '10320', '2004-11-03', 'Shipped'),
 ('Christina ', 'Berglund', '10326', '2004-11-09', 'Shipped'),
 ('Christina ', 'Berglund', '10334', '2004-11-19', 'On Hold'),
 ('Jytte ', 'Petersen', '10105', '2003-02-11', 'Shipped'),
 ('Jytte ', 'Petersen', '10238', '2004-04-09', 'Shipped'),
 ('Jytte ', 'Petersen', '10256', '2004-06-08', 'Shipped'),
 ('Jytte ', 'Petersen', '10327', '2004-11-10', 'Resolved'),
 ('Jytte ', 'Petersen', '10406', '2005-04-15', 'Disputed'),
 ('Mary ', 'Saveley', '10194', '2003-11-25', 'Shipped'),
 ('Mary ', 'Saveley', '10208', '2004-01-02', 'Shipped'),
 ('Mary ', 'Saveley', '10227', '2004-03-02', 'Shipped'),
 ('Eric', 'Natividad', '10117', '2003-04-16', 'Shipped'),
 ('Eric', 'Natividad', '10150', '2003-09-19', 'Shipped'),
 ('Eric', 'Natividad', '10165', '2003-10-22', 'Shipped'),
 ('Eric', 'Natividad', '10277', '2004-08-04', 'Shipped'),
 ('Eric', 'Natividad', '10387', '2005-03-02', 'Shipped'),
 ('Jeff', 'Young', '10127', '2003-06-03', 'Shipped'),
 ('Jeff', 'Young', '10204', '2003-12-02', 'Shipped'),
 ('Jeff', 'Young', '10267', '2004-07-07', 'Shipped'),
 ('Jeff', 'Young', '10349', '2004-12-01', 'Shipped'),
 ('Kelvin', 'Leong', '10272', '2004-07-20', 'Shipped'),
 ('Kelvin', 'Leong', '10281', '2004-08-19', 'Shipped'),
 ('Kelvin', 'Leong', '10318', '2004-11-02', 'Shipped'),
 ('Kelvin', 'Leong', '10422', '2005-05-30', 'In Process'),
 ('Juri', 'Hashimoto', '10140', '2003-07-24', 'Shipped'),
 ('Juri', 'Hashimoto', '10168', '2003-10-28', 'Shipped'),
 ('Juri', 'Hashimoto', '10317', '2004-11-02', 'Shipped'),
 ('Juri', 'Hashimoto', '10362', '2005-01-05', 'Shipped'),
 ('Wendy', 'Victorino', '10217', '2004-02-04', 'Shipped'),
 ('Wendy', 'Victorino', '10259', '2004-06-15', 'Shipped'),
 ('Wendy', 'Victorino', '10288', '2004-09-01', 'Shipped'),
 ('Wendy', 'Victorino', '10409', '2005-04-23', 'Shipped'),
 ('Veysel', 'Oeztan', '10181', '2003-11-12', 'Shipped'),
 ('Veysel', 'Oeztan', '10188', '2003-11-18', 'Shipped'),
 ('Veysel', 'Oeztan', '10289', '2004-09-03', 'Shipped'),
 ('Martine ', 'Rancé', '10180', '2003-11-11', 'Shipped'),
 ('Martine ', 'Rancé', '10224', '2004-02-21', 'Shipped'),
 ('Marie', 'Bertrand', '10114', '2003-04-01', 'Shipped'),
 ('Marie', 'Bertrand', '10286', '2004-08-28', 'Shipped'),
 ('Marie', 'Bertrand', '10336', '2004-11-20', 'Shipped'),
 ('Jerry', 'Tseng', '10228', '2004-03-10', 'Shipped'),
 ('Jerry', 'Tseng', '10249', '2004-05-08', 'Shipped'),
 ('Julie', 'King', '10172', '2003-11-05', 'Shipped'),
 ('Julie', 'King', '10263', '2004-06-28', 'Shipped'),
 ('Julie', 'King', '10413', '2005-05-05', 'Shipped'),
 ('Mory', 'Kentary', '10210', '2004-01-12', 'Shipped'),
 ('Mory', 'Kentary', '10240', '2004-04-13', 'Shipped'),
 ('Michael', 'Frick', '10102', '2003-01-10', 'Shipped'),
 ('Michael', 'Frick', '10237', '2004-04-05', 'Shipped'),
 ('Michael', 'Frick', '10324', '2004-11-05', 'Shipped'),
 ('Matti', 'Karttunen', '10155', '2003-10-06', 'Shipped'),
 ('Matti', 'Karttunen', '10299', '2004-09-30', 'Shipped'),
 ('Matti', 'Karttunen', '10377', '2005-02-09', 'Shipped'),
 ('Rachel', 'Ashworth', '10110', '2003-03-18', 'Shipped'),
 ('Rachel', 'Ashworth', '10306', '2004-10-14', 'Shipped'),
 ('Rachel', 'Ashworth', '10332', '2004-11-17', 'Shipped'),
 ('Dean', 'Cassidy', '10220', '2004-02-12', 'Shipped'),
 ('Dean', 'Cassidy', '10297', '2004-09-16', 'Shipped'),
 ('Leslie', 'Taylor', '10130', '2003-06-16', 'Shipped'),
 ('Leslie', 'Taylor', '10290', '2004-09-07', 'Shipped'),
 ('Leslie', 'Taylor', '10352', '2004-12-03', 'Shipped'),
 ('Elizabeth', 'Devon', '10253', '2004-06-01', 'Cancelled'),
 ('Elizabeth', 'Devon', '10302', '2003-10-06', 'Shipped'),
 ('Elizabeth', 'Devon', '10403', '2005-04-08', 'Shipped'),
 ('Yoshi ', 'Tamuri', '10206', '2003-12-05', 'Shipped'),
 ('Yoshi ', 'Tamuri', '10313', '2004-10-22', 'Shipped'),
 ('Miguel', 'Barajas', '10276', '2004-08-02', 'Shipped'),
 ('Miguel', 'Barajas', '10294', '2004-09-10', 'Shipped'),
 ('Julie', 'Young', '10145', '2003-08-25', 'Shipped'),
 ('Julie', 'Young', '10189', '2003-11-18', 'Shipped'),
 ('Julie', 'Young', '10367', '2005-01-12', 'Resolved'),
 ('Frédérique ', 'Citeaux', '10241', '2004-04-13', 'Shipped'),
 ('Frédérique ', 'Citeaux', '10255', '2004-06-04', 'Shipped'),
 ('Frédérique ', 'Citeaux', '10405', '2005-04-14', 'Shipped'),
 ('Mike', 'Gao', '10187', '2003-11-15', 'Shipped'),
 ('Mike', 'Gao', '10200', '2003-12-01', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10118', '2003-04-21', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10197', '2003-11-26', 'Shipped'),
 ('Eduardo ', 'Saavedra', '10340', '2004-11-24', 'Shipped'),
 ('Mary', 'Young', '10154', '2003-10-02', 'Shipped'),
 ('Mary', 'Young', '10376', '2005-02-08', 'Shipped'),
 ('Palle', 'Ibsen', '10161', '2003-10-17', 'Shipped'),
 ('Palle', 'Ibsen', '10314', '2004-10-22', 'Shipped'),
 ('Jean ', 'Fresnière', '10171', '2003-11-05', 'Shipped'),
 ('Jean ', 'Fresnière', '10261', '2004-06-17', 'Shipped'),
 ('Jean ', 'Fresnière', '10411', '2005-05-01', 'Shipped'),
 ('Valarie', 'Thompson', '10222', '2004-02-19', 'Shipped'),
 ('Valarie', 'Thompson', '10226', '2004-02-26', 'Shipped'),
 ('Helen ', 'Bennett', '10232', '2004-03-20', 'Shipped'),
 ('Helen ', 'Bennett', '10316', '2004-11-01', 'Shipped'),
 ('Annette ', 'Roulet', '10136', '2003-07-04', 'Shipped'),
 ('Annette ', 'Roulet', '10178', '2003-11-08', 'Shipped'),
 ('Annette ', 'Roulet', '10397', '2005-03-28', 'Shipped'),
 ('Paolo ', 'Accorti', '10280', '2004-08-17', 'Shipped'),
 ('Paolo ', 'Accorti', '10293', '2004-09-09', 'Shipped'),
 ('Daniel', 'Da Silva', '10134', '2003-07-01', 'Shipped'),
 ('Daniel', 'Da Silva', '10356', '2004-12-09', 'Shipped'),
 ('Daniel', 'Da Silva', '10395', '2005-03-17', 'Shipped'),
 ('Daniel ', 'Tonini', '10216', '2004-02-02', 'Shipped'),
 ('Daniel ', 'Tonini', '10304', '2004-10-11', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '10191', '2003-11-20', 'Shipped'),
 ('Henriette ', 'Pfalzheim', '10310', '2004-10-16', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '10235', '2004-04-02', 'Shipped'),
 ('Elizabeth ', 'Lincoln', '10283', '2004-08-20', 'Shipped'),
 ('Anna', "O'Hara", '10148', '2003-09-11', 'Shipped'),
 ('Anna', "O'Hara", '10169', '2003-11-04', 'Shipped'),
 ('Anna', "O'Hara", '10370', '2005-01-20', 'Shipped'),
 ('Anna', "O'Hara", '10391', '2005-03-09', 'Shipped'),
 ('Giovanni ', 'Rovelli', '10106', '2003-02-17', 'Shipped'),
 ('Giovanni ', 'Rovelli', '10173', '2003-11-05', 'Shipped'),
 ('Giovanni ', 'Rovelli', '10328', '2004-11-12', 'Shipped'),
 ('Adrian', 'Huxley', '10139', '2003-07-16', 'Shipped'),
 ('Adrian', 'Huxley', '10270', '2004-07-19', 'Shipped'),
 ('Adrian', 'Huxley', '10361', '2004-12-17', 'Shipped'),
 ('Adrian', 'Huxley', '10420', '2005-05-29', 'In Process'),
 ('Marta', 'Hernandez', '10285', '2004-08-27', 'Shipped'),
 ('Marta', 'Hernandez', '10305', '2004-10-13', 'Shipped'),
 ('Mihael', 'Holz', '10225', '2004-02-22', 'Shipped'),
 ('Mihael', 'Holz', '10287', '2004-08-30', 'Shipped'),
 ('Jan', 'Klaeboe', '10284', '2004-08-21', 'Shipped'),
 ('Jan', 'Klaeboe', '10301', '2003-10-05', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10151', '2003-09-21', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10239', '2004-04-12', 'Shipped'),
 ('Pirkko', 'Koskitalo', '10373', '2005-01-31', 'Shipped'),
 ('Catherine ', 'Dewey', '10221', '2004-02-18', 'Shipped'),
 ('Catherine ', 'Dewey', '10273', '2004-07-21', 'Shipped'),
 ('Catherine ', 'Dewey', '10423', '2005-05-30', 'In Process'),
 ('Steve', 'Frick', '10195', '2003-11-25', 'Shipped'),
 ('Steve', 'Frick', '10308', '2004-10-15', 'Shipped'),
 ('Wing', 'Huang', '10143', '2003-08-10', 'Shipped'),
 ('Wing', 'Huang', '10185', '2003-11-14', 'Shipped'),
 ('Wing', 'Huang', '10365', '2005-01-07', 'Shipped'),
 ('Julie', 'Brown', '10159', '2003-10-10', 'Shipped'),
 ('Julie', 'Brown', '10162', '2003-10-18', 'Shipped'),
 ('Julie', 'Brown', '10381', '2005-02-17', 'Shipped'),
 ('Julie', 'Brown', '10384', '2005-02-23', 'Shipped'),
 ('Mike', 'Graham', '10132', '2003-06-25', 'Shipped'),
 ('Mike', 'Graham', '10254', '2004-06-03', 'Shipped'),
 ('Mike', 'Graham', '10354', '2004-12-04', 'Shipped'),
 ('Mike', 'Graham', '10393', '2005-03-11', 'Shipped'),
 ('Mike', 'Graham', '10404', '2005-04-08', 'Shipped'),
 ('Ann ', 'Brown', '10129', '2003-06-12', 'Shipped'),
 ('Ann ', 'Brown', '10175', '2003-11-06', 'Shipped'),
 ('Ann ', 'Brown', '10351', '2004-12-03', 'Shipped'),
 ('William', 'Brown', '10233', '2004-03-29', 'Shipped'),
 ('William', 'Brown', '10251', '2004-05-18', 'Shipped'),
 ('William', 'Brown', '10401', '2005-04-03', 'On Hold'),
 ('Ben', 'Calaghan', '10152', '2003-09-25', 'Shipped'),
 ('Ben', 'Calaghan', '10174', '2003-11-06', 'Shipped'),
 ('Ben', 'Calaghan', '10374', '2005-02-02', 'Shipped'),
 ('Kalle', 'Suominen', '10141', '2003-08-01', 'Shipped'),
 ('Kalle', 'Suominen', '10247', '2004-05-05', 'Shipped'),
 ('Kalle', 'Suominen', '10363', '2005-01-06', 'Shipped'),
 ('Francisca', 'Cervantes', '10183', '2003-11-13', 'Shipped'),
 ('Francisca', 'Cervantes', '10307', '2004-10-14', 'Shipped'),
 ('Jesus', 'Fernandez', '10177', '2003-11-07', 'Shipped'),
 ('Jesus', 'Fernandez', '10231', '2004-03-19', 'Shipped'),
 ('Brian', 'Chandler', '10160', '2003-10-11', 'Shipped'),
 ('Brian', 'Chandler', '10209', '2004-01-09', 'Shipped'),
 ('Laurence ', 'Lebihan', '10122', '2003-05-08', 'Shipped'),
 ('Laurence ', 'Lebihan', '10344', '2004-11-25', 'Shipped'),
 ('Laurence ', 'Lebihan', '10364', '2005-01-06', 'Shipped'),
 ('Paul ', 'Henriot', '10121', '2003-05-07', 'Shipped'),
 ('Paul ', 'Henriot', '10137', '2003-07-10', 'Shipped'),
 ('Paul ', 'Henriot', '10343', '2004-11-24', 'Shipped'),
 ('Paul ', 'Henriot', '10359', '2004-12-15', 'Shipped'),
 ('Paul ', 'Henriot', '10398', '2005-03-30', 'Shipped'),
 ('Wales', 'MacKinlay', '10202', '2003-12-02', 'Shipped'),
 ('Wales', 'MacKinlay', '10260', '2004-06-16', 'Cancelled'),
 ('Wales', 'MacKinlay', '10410', '2005-04-29', 'Shipped'),
 ('Juri', 'Yoshido', '10264', '2004-06-30', 'Shipped'),
 ('Juri', 'Yoshido', '10295', '2004-09-10', 'Shipped'),
 ('Juri', 'Yoshido', '10414', '2005-05-06', 'On Hold'),
 ('Dorothy', 'Young', '10100', '2003-01-06', 'Shipped'),
 ('Dorothy', 'Young', '10192', '2003-11-20', 'Shipped'),
 ('Dorothy', 'Young', '10322', '2004-11-04', 'Shipped'),
 ('Allen', 'Nelson', '10147', '2003-09-05', 'Shipped'),
 ('Allen', 'Nelson', '10274', '2004-07-21', 'Shipped'),
 ('Allen', 'Nelson', '10369', '2005-01-20', 'Shipped'),
 ('Pascale ', 'Cartrain', '10116', '2003-04-11', 'Shipped'),
 ('Pascale ', 'Cartrain', '10144', '2003-08-13', 'Shipped'),
 ('Pascale ', 'Cartrain', '10338', '2004-11-22', 'Shipped'),
 ('Pascale ', 'Cartrain', '10366', '2005-01-10', 'Shipped'),
 ('Georg ', 'Pipps', '10119', '2003-04-28', 'Shipped'),
 ('Georg ', 'Pipps', '10269', '2004-07-16', 'Shipped'),
 ('Georg ', 'Pipps', '10341', '2004-11-24', 'Shipped'),
 ('Georg ', 'Pipps', '10419', '2005-05-17', 'Shipped'),
 ('Arnold', 'Cruz', '10108', '2003-03-03', 'Shipped'),
 ('Arnold', 'Cruz', '10198', '2003-11-27', 'Shipped'),
 ('Arnold', 'Cruz', '10330', '2004-11-16', 'Shipped'),
 ('Maurizio ', 'Moroni', '10176', '2003-11-06', 'Shipped'),
 ('Maurizio ', 'Moroni', '10266', '2004-07-06', 'Shipped'),
 ('Maurizio ', 'Moroni', '10416', '2005-05-10', 'Shipped'),
 ('Akiko', 'Shimamura', '10258', '2004-06-15', 'Shipped'),
 ('Akiko', 'Shimamura', '10339', '2004-11-23', 'Shipped'),
 ('Akiko', 'Shimamura', '10372', '2005-01-26', 'Shipped'),
 ('Akiko', 'Shimamura', '10408', '2005-04-22', 'Shipped'),
 ('Dominique', 'Perrier', '10211', '2004-01-15', 'Shipped'),
 ('Dominique', 'Perrier', '10252', '2004-05-26', 'Shipped'),
 ('Dominique', 'Perrier', '10402', '2005-04-07', 'Shipped'),
 ('Sarah', 'McRoy', '10234', '2004-03-30', 'Shipped'),
 ('Sarah', 'McRoy', '10268', '2004-07-12', 'Shipped'),
 ('Sarah', 'McRoy', '10418', '2005-05-16', 'Shipped'),
 ('Michael', 'Donnermeyer', '10296', '2004-09-15', 'Shipped'),
 ('Maria', 'Hernandez', '10115', '2003-04-04', 'Shipped'),
 ('Maria', 'Hernandez', '10163', '2003-10-20', 'Shipped'),
 ('Maria', 'Hernandez', '10337', '2004-11-21', 'Shipped'),
 ('Dan', 'Lewis', '10131', '2003-06-16', 'Shipped'),
 ('Dan', 'Lewis', '10146', '2003-09-03', 'Shipped'),
 ('Dan', 'Lewis', '10353', '2004-12-04', 'Shipped'),
 ('Martha', 'Larsson', '10167', '2003-10-23', 'Cancelled'),
 ('Martha', 'Larsson', '10291', '2004-09-08', 'Shipped'),
 ('Martha', 'Larsson', '10389', '2005-03-03', 'Shipped'),
 ('Sue', 'Frick', '10250', '2004-05-11', 'Shipped'),
 ('Sue', 'Frick', '10257', '2004-06-14', 'Shipped'),
 ('Sue', 'Frick', '10400', '2005-04-01', 'Shipped'),
 ('Sue', 'Frick', '10407', '2005-04-22', 'On Hold'),
 ('Roland ', 'Mendel', '10164', '2003-10-21', 'Resolved'),
 ('Roland ', 'Mendel', '10170', '2003-11-04', 'Shipped'),
 ('Roland ', 'Mendel', '10392', '2005-03-10', 'Shipped'),
 ('Leslie', 'Murphy', '10196', '2003-11-26', 'Shipped'),
 ('Leslie', 'Murphy', '10245', '2004-05-04', 'Shipped'),
 ('Yu', 'Choi', '10242', '2004-04-20', 'Shipped'),
 ('Yu', 'Choi', '10319', '2004-11-03', 'Shipped'),
 ('Martín ', 'Sommer', '10126', '2003-05-28', 'Shipped'),
 ('Martín ', 'Sommer', '10214', '2004-01-26', 'Shipped'),
 ('Martín ', 'Sommer', '10348', '2004-11-01', 'Shipped'),
 ('Violeta', 'Benitez', '10166', '2003-10-21', 'Shipped'),
 ('Violeta', 'Benitez', '10321', '2004-11-04', 'Shipped'),
 ('Violeta', 'Benitez', '10388', '2005-03-03', 'Shipped'),
 ('Sean', 'Clenahan', '10193', '2003-11-21', 'Shipped'),
 ('Sean', 'Clenahan', '10265', '2004-07-02', 'Shipped'),
 ('Sean', 'Clenahan', '10415', '2005-05-09', 'Disputed'),
 ('Franco', 'Ricotti', '10157', '2003-10-09', 'Shipped'),
 ('Franco', 'Ricotti', '10218', '2004-02-09', 'Shipped'),
 ('Steve', 'Thompson', '10199', '2003-12-01', 'Shipped'),
 ('Steve', 'Thompson', '10215', '2004-01-29', 'Shipped'),
 ('José Pedro ', 'Roel', '10184', '2003-11-14', 'Shipped'),
 ('José Pedro ', 'Roel', '10303', '2004-10-06', 'Shipped'),
 ('Rosa', 'Salazar', '10109', '2003-03-10', 'Shipped'),
 ('Rosa', 'Salazar', '10236', '2004-04-03', 'Shipped'),
 ('Rosa', 'Salazar', '10331', '2004-11-17', 'Shipped'),
 ('Sue', 'Taylor', '10149', '2003-09-12', 'Shipped'),
 ('Sue', 'Taylor', '10219', '2004-02-10', 'Shipped'),
 ('Thomas ', 'Smith', '10186', '2003-11-14', 'Shipped'),
 ('Thomas ', 'Smith', '10213', '2004-01-22', 'Shipped'),
 ('Valarie', 'Franco', '10207', '2003-12-09', 'Shipped'),
 ('Valarie', 'Franco', '10243', '2004-04-26', 'Shipped'),
 ('Tony', 'Snowden', '10138', '2003-07-07', 'Shipped'),
 ('Tony', 'Snowden', '10179', '2003-11-11', 'Cancelled'),
 ('Tony', 'Snowden', '10360', '2004-12-16', 'Shipped'),
 ('Tony', 'Snowden', '10399', '2005-04-01', 'Shipped')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [3]:
# Your code here
c.execute("""SELECT contactFirstName, contactLastName, paymentDate, amount
FROM customers 
JOIN payments
USING(customerNumber);""").fetcj

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!